@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right, #a9b0a5bb, #ffffff);
}

header {
    background-color: #000000;
    padding: 50px 0px;
}

header > h1 {
    color: #ffffff;
    font-size: 6.5vw;
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    text-align: center;
}

header > p {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #e29a01;
}

main {
    font-family: 'Sriracha', cursive;
    font-size: 2.5vw;
}

.normal {
    padding: 100px;
}

.imagem {
    padding: 100px;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 14px #000000;
}

.imagem > p {
    background-image: linear-gradient(to left, #0000002a, #00000000);
    color: #ffffff;
    padding: 10px;
    max-width: 100%;
    border-radius: 15px;
    text-align: right;
}

.imagem#img01 {
    background-image: url(../imagens/background001.jpg);
}

.imagem#img02 {
    background-image: url(../imagens/background002.jpg);
}

.imagem#img03 {
    background-image: url(../imagens/background003.jpg);
    background-position: center center;
}

footer {
    background-color: #000000;
    padding: 20px;
}

footer > p {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

footer > p > a > img {
    color: #ffffff;
}
